assets/conf/dtd/objects-style.dtd

<!--
  CAUTION: Do not modify this file directly on it's code unless you know what you are doing.
           Unexpected results may occur if the code is changed deliberately.
-->
<!ELEMENT objects-style (global, font+, object+)>

<!ELEMENT global EMPTY>
<!ATTLIST global font CDATA #REQUIRED>
<!ATTLIST global size CDATA #REQUIRED>

<!ELEMENT font EMPTY>
<!ATTLIST font color CDATA #REQUIRED>
<!ATTLIST font italic (false|true) "false">
<!ATTLIST font bold (false|true) "false">
<!ATTLIST font underline (false|true) "false">
<!ATTLIST font id (table-schema-name|view-schema-name|table-name|column|fk-column|pk-column|uq-column|nn-column|
                   prot-column|inh-column|index|rule|trigger|constraint|view-name|attribute|label|
                   constraints|object-type|ref-table|ref-column|alias|pos-info|tag|policy|foreigntable-name|
                   foreigntable-schema-name) "table-name">

<!ELEMENT object EMPTY>
<!ATTLIST object fill-color CDATA #REQUIRED>
<!ATTLIST object border-color CDATA #REQUIRED>
<!ATTLIST object id (table-title|table-body|textbox|view-title|view-body|view-toggler-btns|view-toggler-body|
                     label|relationship|attribute|column|pk-column|uq-column|fk-column|nn-column|rule|trigger|index|constraint|
					 locker-body|locker-arc|obj-selection|reference|view-ext-body|table-ext-body|table-toggler-btns|
					 table-toggler-body|pos-info|tag|placeholder|policy|foreigntable-title|foreigntable-body|
					 foreigntable-ext-body|foreigntable-toggler-btns|foreigntable-toggler-body) "table-title">
