conf/dtd/pgmodeler.dtd

<!--
  CAUTION: Do not modify this file directly on it's code unless you know what you are doing.
           Unexpected results may occur if the code is changed deliberately.
-->
<!ELEMENT pgmodeler (configuration, widget-conf?, session?)>

<!ELEMENT configuration EMPTY>
<!ATTLIST configuration op-list-size CDATA #REQUIRED>
<!ATTLIST configuration grid-size CDATA #REQUIRED>
<!ATTLIST configuration autosave-interval CDATA #IMPLIED>
<!ATTLIST configuration paper-type CDATA #IMPLIED>
<!ATTLIST configuration paper-orientation (portrait|landscape) "landscape">
<!ATTLIST configuration paper-margin CDATA #IMPLIED>
<!ATTLIST configuration save-session (false|true) "true">
<!ATTLIST configuration save-widgets (false|true) "true">
<!ATTLIST configuration print-grid (false|true) "true">
<!ATTLIST configuration print-pg-num (false|true) "true">
 
<!ELEMENT session (file+)>
<!ELEMENT file EMPTY>
<!ATTLIST file id CDATA #REQUIRED>
<!ATTLIST file path CDATA #REQUIRED>
