conf/dtd/pgmodeler.dtd

<!--
  CAUTION: Do not modify this file directly on it's code unless you know what you are doing.
           Unexpected results may occur if the code is changed deliberately.
-->
<!ELEMENT pgmodeler (configuration, widget-conf?, session?, recent-models?, dock-widgets?)>

<!ELEMENT configuration EMPTY>
<!ATTLIST configuration op-list-size CDATA #REQUIRED>
<!ATTLIST configuration grid-size CDATA #REQUIRED>
<!ATTLIST configuration autosave-interval CDATA #IMPLIED>
<!ATTLIST configuration paper-type CDATA #IMPLIED>
<!ATTLIST configuration paper-orientation (portrait|landscape) "landscape">
<!ATTLIST configuration paper-margin CDATA #IMPLIED>
<!ATTLIST configuration paper-custom-size CDATA #IMPLIED>
<!ATTLIST configuration print-grid (false|true) "true">
<!ATTLIST configuration print-pg-num (false|true) "true">
<!ATTLIST configuration hide-rel-name (false|true) "false">
<!ATTLIST configuration hide-ext-attribs (false|true) "false">
<!ATTLIST configuration hide-table-tags (false|true) "false">
<!ATTLIST configuration canvas-corner-move (false|true) "true">
<!ATTLIST configuration invert-panning-rangesel (false|true) "false">
<!ATTLIST configuration check-update (false|true) "false">
<!ATTLIST configuration save-last-position (false|true) "false">
<!ATTLIST configuration show-main-menu (false|true) "false">
<!ATTLIST configuration disable-smoothness (false|true) "false">
<!ATTLIST configuration code-font CDATA #IMPLIED>
<!ATTLIST configuration code-font-size CDATA #IMPLIED>

<!ELEMENT session (file+)>
<!ELEMENT recent-models (file+)>
<!ELEMENT dock-widgets (widget+)>

<!ELEMENT file EMPTY>
<!ATTLIST file id CDATA #REQUIRED>
<!ATTLIST file path CDATA #REQUIRED>

<!ELEMENT widget EMPTY>
<!ATTLIST widget id (validator|sqltool|objectfinder) "validator">
<!ATTLIST widget sql-validation (false|true) "false">
<!ATTLIST widget pgsql-version CDATA #IMPLIED>
<!ATTLIST widget use-unique-names (false|true) "false">
<!ATTLIST widget hide-sys-objects (false|true) "false">
<!ATTLIST widget hide-ext-objects (false|true) "false">
<!ATTLIST widget regexp (false|true) "false">
<!ATTLIST widget exact-match (false|true) "false">
<!ATTLIST widget case-sensitive (false|true) "false">
<!ATTLIST widget highlight-objects (false|true) "false">


