schemas/xml/dtd/baseelements.dtd

<!--
  CAUTION: Do not modify this file directly on it's code unless you know what you are doing.
           Unexpected results may occur if the code is changed deliberately.
-->
<!ELEMENT definition (#PCDATA)>
<!ATTLIST definition library CDATA #IMPLIED>
<!ATTLIST definition symbol  CDATA #IMPLIED>

<!ELEMENT comment (#PCDATA)>
<!ELEMENT condition (#PCDATA)>
<!ELEMENT predicate (#PCDATA)>

<!ELEMENT expression (#PCDATA)>
<!ATTLIST expression type (none|select-exp|from-exp|simple-exp|cte-exp|end-exp|using-exp|check-exp) "none">

<!ELEMENT position EMPTY>
<!ATTLIST position x CDATA "0">
<!ATTLIST position y CDATA "0">

<!ELEMENT columns EMPTY>
<!ATTLIST columns names CDATA #REQUIRED>
<!ATTLIST columns ref-type (src-columns|dst-columns) "src-columns">

<!ELEMENT appended-sql (#PCDATA)>
<!ELEMENT prepended-sql (#PCDATA)>
