schemas/xml/dtd/relationship.dtd

<!--
  CAUTION: Do not modify this file directly on it's code unless you know what you are doing.
           Unexpected results may occur if the code is changed deliberately.
-->
<!ELEMENT relationship (line*,position*,label*,column*,constraint*,special-pk-cols?)>
<!ATTLIST relationship name CDATA #REQUIRED>
<!ATTLIST relationship src-required (false|true) "false">
<!ATTLIST relationship dst-required (false|true) "false">
<!ATTLIST relationship type (rel11|rel1n|relnn|relgen|reldep|reltv|relfk) "rel11">
<!ATTLIST relationship protected (false|true) "false">
<!ATTLIST relationship src-table CDATA #REQUIRED>
<!ATTLIST relationship dst-table CDATA #REQUIRED>
<!ATTLIST relationship table-name CDATA #IMPLIED>
<!ATTLIST relationship identifier (false|true) "false">
<!ATTLIST relationship deferrable (true |false) "false">
<!ATTLIST relationship defer-type CDATA #IMPLIED>
<!ATTLIST relationship copy-mode CDATA #IMPLIED>
<!ATTLIST relationship copy-options CDATA #IMPLIED>
<!ATTLIST relationship sql-disabled (false|true) "false">
<!ATTLIST relationship src-col-pattern CDATA #IMPLIED>
<!ATTLIST relationship dst-col-pattern CDATA #IMPLIED>
<!ATTLIST relationship pk-pattern CDATA #IMPLIED>
<!ATTLIST relationship uq-pattern CDATA #IMPLIED>
<!ATTLIST relationship src-fk-pattern CDATA #IMPLIED>
<!ATTLIST relationship dst-fk-pattern CDATA #IMPLIED>
<!ATTLIST relationship col-indexes CDATA #IMPLIED>
<!ATTLIST relationship attrib-indexes CDATA #IMPLIED>
<!ATTLIST relationship constr-indexes CDATA #IMPLIED>

<!ELEMENT line (position+)>

<!ELEMENT special-pk-cols EMPTY>
<!ATTLIST special-pk-cols indexes CDATA #REQUIRED>

<!ELEMENT label (position)>
<!ATTLIST label ref-type (name-label|src-label|dst-label) "name-label">
