assets/schemas/xml/dtd/baseelements.dtd

<!--
  CAUTION: Do not modify this file directly on it's code unless you know what you are doing.
           Unexpected results may occur if the code is changed deliberately.
-->
<!ELEMENT definition (#PCDATA)>
<!ATTLIST definition library CDATA #IMPLIED>
<!ATTLIST definition symbol  CDATA #IMPLIED>

<!ELEMENT comment (#PCDATA)>
<!ELEMENT condition (#PCDATA)>
<!ELEMENT predicate (#PCDATA)>

<!ELEMENT expression (#PCDATA)>
<!ATTLIST expression type (none|using-exp|check-exp) "none">

<!ELEMENT position EMPTY>
<!ATTLIST position x CDATA "0">
<!ATTLIST position y CDATA "0">

<!ELEMENT columns EMPTY>
<!ATTLIST columns names CDATA #REQUIRED>
<!ATTLIST columns ref-type (src-columns|dst-columns) "src-columns">

<!ELEMENT appended-sql (#PCDATA)>
<!ELEMENT prepended-sql (#PCDATA)>

<!ELEMENT transform-types EMPTY>
<!ATTLIST transform-types names CDATA #REQUIRED>

<!ELEMENT configuration EMPTY>
<!ATTLIST configuration name CDATA #REQUIRED>
<!ATTLIST configuration value CDATA #REQUIRED>
