assets/schemas/xml/dtd/usertype.dtd

<!--
  CAUTION: Do not modify this file directly on it's code unless you know what you are doing.
           Unexpected results may occur if the code is changed deliberately.
-->
<!ELEMENT usertype (schema, role?, comment?, appended-sql?,prepended-sql?, type?, collation?, opclass?, (function+ | typeattrib+ | enumeration+)*)>
<!ATTLIST usertype name CDATA #REQUIRED>
<!ATTLIST usertype configuration (enumeration|composite|base|range) "enumeration">
<!ATTLIST usertype internal-length CDATA #IMPLIED>
<!ATTLIST usertype by-value (true|false) "false">
<!ATTLIST usertype alignment CDATA #IMPLIED>
<!ATTLIST usertype storage CDATA #IMPLIED>
<!ATTLIST usertype element CDATA #IMPLIED>
<!ATTLIST usertype delimiter CDATA #IMPLIED>
<!ATTLIST usertype default-value CDATA #IMPLIED>
<!ATTLIST usertype category CDATA #IMPLIED>
<!ATTLIST usertype preferred CDATA "false">
<!ATTLIST usertype collatable CDATA "false">
<!ATTLIST usertype protected (false|true) "false">
<!ATTLIST usertype sql-disabled (false|true) "false">

<!ELEMENT enumeration EMPTY>
<!ATTLIST enumeration label CDATA #REQUIRED>

<!ELEMENT typeattrib (type, collation?)>
<!ATTLIST typeattrib name CDATA #REQUIRED>
