schemas/general/dtd/objects-positioning.dtd

<!--
  CAUTION: Do not modify this file directly on it's code unless you know what you are doing.
           Unexpected results may occur if the code is changed deliberately.
-->
<!ELEMENT position EMPTY>
<!ATTLIST position x CDATA "0">
<!ATTLIST position y CDATA "0">

<!ELEMENT object (position+)>
<!ATTLIST object name CDATA #REQUIRED>
<!ATTLIST object type (table|view|relationship|textbox) "table">
<!ATTLIST object src-table CDATA #IMPLIED>
<!ATTLIST object dst-table CDATA #IMPLIED>
<!ATTLIST object src-type (table|view) "table">
<!ATTLIST object dst-type (table|view) "table">

<!ELEMENT objects-positioning (object*)>
